.reactionWrapper {
	display: flex;
}

.btnSty {
	display: inline-flex;
	align-items: center;
	padding: 2px 8px;
	height: 32px;
	padding: 8px;
	background: #f4f4f4;
	border: 1px solid #ffffff;
	border-radius: 100px;
	margin-right: 6px;
	font-size: 0.8rem;
	cursor: pointer;
	position: relative;
	user-select: none;
}

.btnSty.liked {
	background: #edf5ff;
	border: 1px solid #0f62fe;
}

.dotSeparator {
	margin: 0px 3px;
	width: 1.5px;
	height: 1.5px;
	border-radius: 50%;
	background: #000;
}

.emoji {
	font-size: 0.7rem;
}
