@mixin topAndBottom {
	transform: translateX(-50%);
	left: 50%;
}

@mixin leftAndRight {
	transform: translateY(-50%);
	top: 50%;
}

.tooltip {
	position: absolute;
	padding: 12px 16px;
	background: #161616;
	color: #ffffff;
	font-size: 12px;
	border-radius: 2px;
	z-index: 5;

	&::after {
		content: '';
		position: absolute;
		border-width: 4px;
		border-style: solid;
	}
}

// bottom: calc(100% + 20px);

.tooltip.bottom {
	@include topAndBottom();
}

.tooltip.top {
	@include topAndBottom();
}

.tooltip.left {
	@include leftAndRight();
}

.tooltip.right {
	@include leftAndRight();
}

.tooltip.bottom::after {
	top: -7px;
	left: calc(50% - 4px);
	border-color: transparent transparent #161616 transparent;
}

.tooltip.top::after {
	left: calc(50% - 4px);
	bottom: -7px;
	border-color: #161616 transparent transparent transparent;
}

.tooltip.left::after {
	top: calc(50% - 4px);
	right: -7px;
	border-color: transparent transparent transparent #161616;
}

.tooltip.right::after {
	left: -7px;
	top: calc(50% - 4px);
	border-color: transparent #161616 transparent transparent;
}
